.footerContainer {
  padding: 5px;
  background: #f590bb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;

}

.footerText {
  color: rgb(252, 252, 252);
  font-size: 1.6rem;
}

.formContainer {
  width: 100%;
}

.form {
  margin: 0 auto;
  border-radius: 4px;
  width: 80%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formInput {
  width: 80%;
  padding: 12px 32px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-bottom: 1rem;
}

.formTextArea {
  width: 80%;
  padding: 12px 32px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-bottom: 1rem;
}


.formButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 1rem;
  width: 80%;
  border-radius: 4px;
  cursor: pointer;
}

.formButton:hover {
  background-color: #4CA;
}

/*   
  .headerImage {
    width: 40%;
  }
  
  @media(max-width: 765px) {
    .headerImage {
      width: 100%;
    }
  } */